<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">Fly Around</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('planemodel_index') }}">Avions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('reservation_index') }}">Réservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('flight_index') }}">Vols</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('site_index') }}">Terrains</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('review_index') }}">Avis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
            </li>
        </ul>
    </div>
</nav>